extends ../../layouts/master
block content
  h3='Editing: ' + monster.name 
   
  .row
    .col-xs-12
      form(method='post', action='/monsters/#{monster._id}')
        .form-group
          label(for='name') Name
          input#name.form-control(placeholder='Monster Name', maxlength=24, name="name", value=monster.name)
        .form-group
          label(for='image') Image
          input#image.form-control(type='text', name="image", placeholder='http://', value=monster.image)    
        .form-group
          label(for='gender') Gender
          label.radio-inline(for='male') Male
          input(type='radio', name="gender", id="inlineRadio1", value="male", checked=monster.gender === 'male')
          label.radio-inline(for='female') Female
          input(type='radio', name="gender", id="inlineRadio2", value="female", checked=monster.gender === 'female' ) 
          label.radio-inline(for='other') Other
          input(type='radio', name="gender", id="inlineRadio3", value="other", checked=monster.gender === 'other')
        .form-group
          label(for='species') Species
          select#species.form-control(name="species")
            each s in species
              option(selected=monster.species === s)= s
        .form-group
          label(for='age') Age
          input#age.form-control(type='number', name='age', value=monster.age)
        .form-group
          label(for='color') Color
          input.formcontrol(type=color, name='color', value=monster.color)
        .form-group
          label(for='description') Description
          textarea#description.form-control(rows='3', placeholder='Enter Monster Description here', name='description')=monster.description
        .form-group
          button.btn.btn-default(type='submit') Edit Monster to Database
    .col-xs-8
